.about_agency {

  .about_agency_card {
    color: #000;

    .about_agency_body {
      .agency_text {
        text-align: justify;
        font-size : 14pt;
      }
    }
  }

  // .leadership_card {}

}