.header {

  // headerTop
  .header_top {
    padding: 6px 0;

    .special_menu {
      height: 100%;

      .special_menu_links {
        display    : flex;
        flex-wrap  : wrap;
        color      : #000;
        font-size  : 13px;
        height     : 100%;
        align-items: center;

        .special_menu_link {
          margin-right: 20px;

          a {
            color: #000;
          }

          i {
            margin-right    : 2px;
            font-size       : 15px;
            background-color: #efefef;
            color           : #000;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .right {
      display        : flex;
      align-items    : center;
      justify-content: flex-end;

      .social_medias {
        display     : flex;
        margin-right: 20px;

        a {
          color      : #373634;
          margin-left: 15px;

          &:focus,
          &:hover {
            color: #119769;
          }
        }
      }

      .search_area {
        position: relative;

        input {
          border          : 1px solid #9a9a9a;
          background-color: transparent;
          border-radius   : 15px;
          padding         : 1px 15px;
          transition      : all .7s ease;
          padding-right   : 40px;

          &:focus {
            outline: none;
          }
        }

        i {
          position: absolute;
          top     : 6px;
          right   : 15px;
          cursor  : pointer;
        }
      }

      .language_area {
        display    : flex;
        margin-left: 12px;

        .languages {
          display: flex;

          li {
            padding     : 0 7px;
            border-right: 1px solid #dedede;
            cursor      : pointer;

            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }

  // headerBody
  .header_body {
    background-color: #119769;
    padding         : 20px 0 15px;

    .left {
      a {
        display: flex;
        height : 100%;
        color  : #fff;

        .site_logo_img {
          width: 80px;
        }

        .site_title {
          font-size  : 20px;
          margin     : 10px 0 0px 10px;
          line-height: 28px;
          font-family: 'OpenSansSemiBold', sans-serif;
          color      : #fff;


        }
      }
    }

    .right {
      margin-top: 15px;

      .fax {
        display        : flex;
        justify-content: flex-end;

        a {
          color  : #fff;
          display: flex;

          i {
            color: #fff;
          }

          .fax_text {
            font-size  : 13px;
            margin-left: 10px;
            font-weight: 600;
            color      : #fff;
          }
        }
      }

      .phone {
        color: #fff;

        .phone_top {
          display: flex;

          i {
            border       : 1px solid #fff;
            border-radius: 50%;
            display      : block;
            padding      : 5px;
          }

          .phone_body {
            margin-left: 15px;

            .tel_text {
              font-size: 13px;
              color    : #fff;
            }

            .tel_number {
              font-size  : 20px;
              font-weight: 600;
              color      : #fff;

            }

            .phone_url {
              font-size  : 13px;
              font-weight: 600;
              color      : #fff;

              .tel_number {
                font-size  : 20px;
                margin-left: 5px;
              }
            }
          }

        }

        .phone_top.bottom {
          margin-top: 18px;

          .phone_body {
            .phone_url {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }

}