.footer {
  background-color: #119769;
  padding         : 30px 10px;

  .copyrigt {
    display     : flex;
    align-items : center;
    border-right: 2px solid #69ffcb;

    .copyright_text {
      margin-left: 10px;

      h3 {
        font-size: 13px;
        color    : #fff;
      }

      p {
        font-size: 12px;
        color    : #b4e6d5;
      }
    }
  }
}